@media screen and (max-width: 768px) {

	.main {
        display: flex;
        flex-direction: row;
        margin-bottom: 5%;
        justify-content: left;
        align-items: center;
        gap: 15px;
    }

    .profile {
        margin-right: 5%;
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 3px solid #A27B5C;
    }

    .profileTitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 0;
        font-size: 0.8rem;
    }
}

@media screen and (min-width: 768px) {

	.main {
        display: flex;
        flex-direction: column;
        width: fit-content;
    }

    img {
        width: 144px;
        height: 144px;
        border-radius: 50%;
        border: 3px solid #A27B5C;
    }

    .profileTitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 0;
    }
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: fit-content;
    height: fit-content;
}

.about {
    color: lightgray;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: left;
    height: fit-content;
}

.link > a {
    color: white;
    margin-bottom: 1rem;
}

.link:hover {
    cursor: pointer;
    color: #A27B5C;
}

.link {
    display: flex;
    flex-direction: row;
    width: fit-content;
    align-items: left;
    gap: 10px;
}