@media screen and (max-width: 768px) {

	.rowFlex {
		margin-left: 5%;
		margin-right: 5%;
		display: flex;
		flex-direction: column-reverse;
		justify-content: space-evenly;
	}

	.columnFlex {
		width: 100%;
		flex-basis: 100%;
	}
}

@media screen and (min-width: 768px) {

	.rowFlex {
		margin-left: 2%;
		margin-right: 5%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
	}

	.columnFlex {
		width: 50%;
		flex-basis: 50%;
		flex-grow: 2;
	}

	.sidebar {
		flex-basis: 15%;
		height: fit-content;
		padding-right: 5%;
		position: sticky;
		top: 15%;
	}
}

.text {
	font-size: 1.1rem;
	line-height: 2rem;
	margin-bottom: 1rem;
}

.home-header {
	position: sticky;
	top: 0;
}

.text a {
	color: #A27B5C;
}

.body {
	background-color: #3F4E4F;
	font-family: "Helvetica", "Arial", sans-serif;
	font-style: normal;
	color: white;
}