.menubar {
    background-color: #A27B5C;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
}

.menubar-button {
    background-color: #A27B5C;
    border: none;
    color: #DCD7C9;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    text-align: center;
    transition-duration: 0.25s;
}

.menubar-button:hover {
    cursor: pointer;
    background-color: #DCD7C9;
    color: #A27B5C;
}